.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.page {
  margin-top: 1%;
}

body {
  text-align: center;
}

.pagination-wrapper {
  overflow-x:auto;
}

.pagination {
  justify-content: center;
  margin-top: 0px;
  /* text-align: center; */
  
}

.tableboucle{
  margin : 10px;
  line-height: 140%;
}

.data-slice {
  margin-top: 15px;
}

.errorTab{
  color : red;
  font-size: 20px;
  text-align: center;
}

.textAlert{
  font-family: Impact;
  font-size: 30px;
  margin-top : 10px;
  text-align: center;
}

.bgAlert{
  margin-top : 15%;
  text-align: center;
}

.buttonTable{
  margin-right: 1%;
}

.messageView{
  /* text-align: center; */
  margin-Top : 2%;
}

/* Card message */

html, body{
  height: 100%;
  padding: 0;
  background: rgba(0,0,0,0.02) !important;
}
.cardheader{
  background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/03/94/91/8557eb413e44722.jpg') !important;
  padding: 0 !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align:center;
}

.profile_pic{
  position: absolute;
  bottom: -50px;
  height: 112px;
  width: 112px;
  padding: 5px;
  border: 2px solid #E5E3E2;
  border-radius: 50%;
}
.cardBody{
  padding-top: 55px !important;
}
.profile_pic img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.name_container{
  display: flex;
  justify-content: center;

}
.name{
  font-size: 20px;
  font-weight: 700;
  color: gray;
  position: relative;
}
.name::after{
  font-family: "Font Awesome 5 Free";
  content: '\f058';
  position: absolute;
  right: -15px;
  top:0;
  font-size: 15px;
  font-weight: 700;
  color: #4CAF50;
}
.address{
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: gray;
}
.like{
  text-align: center;
  justify-content: center;

}
.like_btn{
  background: #2196F3;
  color: #fff;
  border-radius: 12px;
  margin-right: 1%;
}

.like_btn::before{
  font-family: "Font Awesome 5 Free";
  margin-right: 5px;

}
.like_btn:hover{
  background: #f39c12;
}
.info_container{
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.info{
  display: flex;
  flex-direction: column;
}
.info p:first-child{
  margin-bottom: 0;
  font-size: 12px;
  color: gray;
  text-transform: uppercase;
  text-align: center;
}
.info p:last-child{
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 700;
  color: gray;
  text-transform: uppercase;
  text-align: center;
}
.footer{
  padding: 0 !important;
  background: #fff !important;
  display: flex;
  border-top: 0 !important;
  margin-top : 10%;
}
.message{
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 50%;
  text-transform: uppercase;
  background: #f39c12;
  color: #fff;
  cursor: pointer;
  border-bottom-right-radius: calc(0.25rem - 1px);
}

.message::before{
  font-family: "Font Awesome 5 Free";
  content: "\f27a";
  font-weight: 600;
  margin-right: 5px;
}
.view_profile{
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 50%;
  text-transform: uppercase;
  background: #e74c3c;
  color: #fff;
  cursor: pointer;
  border-bottom-left-radius: calc(0.25rem - 1px);
  
}
.view_profile::before{
  font-family: "Font Awesome 5 Free";
  content: "\f406";
  margin-right: 5px;
  font-weight: 600;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
